/* Seletor universal
*{
    border: 1px solid red;
}*/


/* Seletor de texto
h1, h2, h3 {
    color: green;
}
*/

/*Seletor de classe
.verde {
    color: green;
}

p.verde {
    color: green;
}
*/

/* Seletor de Id's
#cabecalho {
    border: 1px solid blue;
}
*/

/* Seletor de filho 
li>a {
   color: red;     
   text-decoration: none;
}
*/

/* Seletor de descendente 
div a {
    color: green;
}
*/

/* Seletor de irmão adjacente 
h1+p {
    color: red;
}
*/

/* Seletor de irmão geral 
h1~p {
    color: blue;
}
*/

/* Seletores iguais, exceção important 
#pagina p {
    color: red;
}

#pagina p {
    color: blue;
}
*/

/* Se um seletor for mais específico que outro,
a regra mais específica será aplicada
(Terá preceência sobre regras mais gerais)
*/

/*
* {
    color: red;
}
*/

/*
h2 { 3º
    color: blue;
} 
*/

/*
h2.verde {  2º 
    color: green;
}
*/

/*
h2#amarelo {  1º 
    color: yellow;
}
*/

/* Barra de navegação vertical
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(../images/seta.png) no-repeat left center;
    text-decoration: none;
}
*/

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
   /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url(../images/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    color: white;
}